@font-face {
  font-family: 'Weekly';
  font-style: normal;
  font-weight: normal;
  src:
    url('../assets/fonts/Merriweather-Regular.ttf') format('truetype'),
}

@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: bold;
  src:
    url('../assets/fonts/Merriweather-Bold.ttf') format('truetype');
}

:root {
--font-size: 36px;
--color-section: rgba(255, 255, 255, 0.5);
--color-text: #474343;
--color-accent: #f3a336;
}

@media (max-width: 999.98px) {
  :root {
    --font-size: 46px;
  }
}
@media (max-width: 640px) {
  :root {
    --font-size: 66px;
  }
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-image: linear-gradient(
  145deg,
  hsl(188deg 100% 97%) 0%,
  hsl(158deg 68% 96%) 9%,
  hsl(124deg 60% 96%) 20%,
  hsl(100deg 64% 95%) 32%,
  hsl(76deg 58% 93%) 46%,
  hsl(58deg 57% 92%) 59%,
  hsl(47deg 76% 92%) 72%,
  hsl(37deg 54% 93%) 83%,
  hsl(2deg 26% 93%) 93%,
  hsl(285deg 30% 92%) 100%
);
  font-family: 'Merriweather', serif;
}

ul {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 20px;
}

.game__wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.question {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  padding: 20px;
  background-color: var(--color-section);
  border-radius: 40px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.answers {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;

}

.button {
  min-width: 80px;
  padding: 8px;
  font-family: 'Merriweather';
  font-size: 16px;
  color: var(--color-text);
  font-weight: bold;
  text-transform: lowercase;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 17px;
  cursor: pointer;
  transition: all 0.5s;

  &:hover {
    transition: all 0.5s;
  }
}

.answers__item {
  background-color: transparent;
  
  &:hover {
    background-color: #fff;
    border: none;
  }

  &.right {
    background-color: #fff;
    color: var(--color-accent);
    border: none;
  }
}

.button_next {
  width: 100%;
  background-color: var(--color-section);
  cursor: not-allowed;

  &.enable {
    background-color: #fff;
    border: none;
    cursor: pointer;
  }
}